.App {
  text-align: center;
  align-items: center;
  align-content: center;
}

.Main{
  text-align: center;
  align-content: center;
}
p{
  margin: 10px;
}

form{
  margin: 10px;
  border: 10px dotted rgb(62, 55, 81);
  background-color: #ccc;
  box-shadow: 5px 5px 5px ;
  padding-bottom: 10px;
}

input{
  border-radius: 25px;
  box-shadow: 3px 5px 2px ;
  font-size: 15PX;
  padding:0 15px ;
}

label{
  font-size: larger;

}
button,input[type=submit] {
  box-shadow: 3px 5px 2px ;
  padding:5px 15px; 
  margin-left: 5px;
  background:#91b4c5; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px !important;
  border-radius: 25px;
  box-shadow: 3px 5px 2px ;
  font-size: 15PX;
  padding:0 15px ; 
}

.List{
  background-color: beige;
  padding: 10px;
  margin: 20px;
  border: 3px solid black;
  min-height: 300px;
  max-height: max-content;
}

.Items{
  margin: 10px;
  border: 3px solid black;
  padding:0 0 20px 0;

}

.List p{
font-size: larger;
}

.List :link{
  text-decoration: solid;
  text-transform: capitalize;
  color-scheme: dark;
  font-size: larger;
  font: message-box;
}